-Xmx2048m
-Xms1024m
-XX:TieredStopAtLevel=1
-XX:+UseParallelGC
-Dfile.encoding=UTF-8
-Dprofile
-DprofileFormat=CONSOLE,HTML,JSON
-DhideParameters=true
-Dnist-nvd.username=${NIST_NVD_USERNAME}
-Dnist-nvd.api-key=${NIST_NVD_API_KEY}
-Dsonatype-oss-index.username=${SONATYPE_OSS_USERNAME}
-Dsonatype-oss-index.api-key=${SONATYPE_OSS_API_KEY}
