config.stopBubbling = true

# Deprecated, use 'lombok.addJavaxGeneratedAnnotation' instead.
#lombok.addGeneratedAnnotation = false
lombok.addJavaxGeneratedAnnotation = false
# Did not work
lombok.addJakartaGeneratedAnnotation = false
lombok.addLombokGeneratedAnnotation = true

lombok.addNullAnnotations = checkerframework
# If set with the version of checkerframework.org (in major.minor, or just 'true' for the latest supported version), create relevant checkerframework.org annotations for code lombok generates (default: false).
# (example: 3.2 - and no higher than 4.0) or true or false
checkerframework = 3.46

lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.addSuppressWarnings = false

# Copy these annotations to getters, setters, with methods, builder-setters, etc.
# Note that lombok ships with a bunch of annotations 'out of the box' which are known to be copyable: All popular nullable/nonnull annotations.
# lombok.copyableAnnotations += <fully.qualified.Type>

lombok.accessors.chain = true
lombok.accessors.fluent = false
lombok.accessors.capitalization = BASIC
lombok.getter.noIsPrefix = false

# Generate @ConstructorProperties for generated constructors (default: false).
lombok.anyConstructor.addConstructorProperties = false
# Suppress the generation of @ConstructorProperties for generated constructors (default: false).
lombok.anyConstructor.suppressConstructorProperties = false
lombok.noArgsConstructor.extraPrivate = false

lombok.log.fieldName = LOG
lombok.log.fieldIsStatic = true
lombok.log.flagUsage = ALLOW
lombok.log.custom.flagUsage = ERROR
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.flogger.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.slf4j.flagUsage = ALLOW
lombok.log.xslf4j.flagUsage = ERROR

lombok.nonNull.exceptionType = IllegalArgumentException

lombok.toString.includeFieldNames = true
lombok.toString.doNotUseGetters = false
lombok.toString.callSuper = CALL
lombok.toString.onlyExplicitlyIncluded = false

lombok.equalsAndHashCode.doNotUseGetters = false
lombok.equalsAndHashCode.callSuper = WARN

lombok.builder.className = *Builder
lombok.singular.useGuava = false
lombok.singular.auto = true

lombok.fieldDefaults.defaultFinal = false
lombok.fieldDefaults.defaultPrivate = false

lombok.synchronized.flagUsage = WARNING
lombok.locked.flagUsage = WARNING
lombok.with.flagUsage = WARNING
lombok.getter.lazy.flagUsage = WARNING

lombok.val.flagUsage = ERROR
lombok.var.flagUsage = ERROR
lombok.cleanup.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR

lombok.experimental.flagUsage = ERROR

##
## Key : lombok.accessors.makeFinal
## Type: boolean
##
## Generate getters, setters and with-ers with the 'final' modifier (default: false).
##
## Examples:
#
# clear lombok.accessors.makeFinal
# lombok.accessors.makeFinal = [false | true]
#

##
## Key : lombok.delegate.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @Delegate is used.
##
## Examples:
#
# clear lombok.delegate.flagUsage
# lombok.delegate.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.extensionMethod.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @ExtensionMethod is used.
##
## Examples:
#
# clear lombok.extensionMethod.flagUsage
# lombok.extensionMethod.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.fieldDefaults.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @FieldDefaults is used.
##
## Examples:
#
# clear lombok.fieldDefaults.flagUsage
# lombok.fieldDefaults.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.fieldNameConstants.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @FieldNameConstants is used.
##
## Examples:
#
# clear lombok.fieldNameConstants.flagUsage
# lombok.fieldNameConstants.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.fieldNameConstants.innerTypeName
## Type: identifier-name
##
## The default name of the inner type generated by @FieldNameConstants. (default: 'Fields').
##
## Examples:
#
# clear lombok.fieldNameConstants.innerTypeName
# lombok.fieldNameConstants.innerTypeName = <javaIdentifier>
#

##
## Key : lombok.fieldNameConstants.uppercase
## Type: boolean
##
## The default name of the constants inside the inner type generated by @FieldNameConstants follow the variable name precisely. If this config key is true, lombok will uppercase them as best it can. (default: false).
##
## Examples:
#
# clear lombok.fieldNameConstants.uppercase
# lombok.fieldNameConstants.uppercase = [false | true]
#

##
## Key : lombok.helper.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @Helper is used.
##
## Examples:
#
# clear lombok.helper.flagUsage
# lombok.helper.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.jacksonized.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @Jacksonized is used.
##
## Examples:
#
# clear lombok.jacksonized.flagUsage
# lombok.jacksonized.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.onX.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if onX is used.
##
## Examples:
#
# clear lombok.onX.flagUsage
# lombok.onX.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.standardException.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @StandardException is used.
##
## Examples:
#
# clear lombok.standardException.flagUsage
# lombok.standardException.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.superBuilder.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @SuperBuilder is used.
##
## Examples:
#
# clear lombok.superBuilder.flagUsage
# lombok.superBuilder.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.utilityClass.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @UtilityClass is used.
##
## Examples:
#
# clear lombok.utilityClass.flagUsage
# lombok.utilityClass.flagUsage = [WARNING | ERROR | ALLOW]
#

##
## Key : lombok.withBy.flagUsage
## Type: enum (lombok.core.configuration.FlagUsageType)
##
## Emit a warning or error if @WithBy is used.
##
## Examples:
#
# clear lombok.withBy.flagUsage
# lombok.withBy.flagUsage = [WARNING | ERROR | ALLOW]
#
